.transaction-history h1 {
    font-weight: 700;
    font-size: 30px;
}

.transaction-history .table {
    margin-top: 50px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border-color: #ededed;
    width: 60%;
}

.transaction-history .table thead tr th {
    border: none;
    padding: 10px 30px;
}

.transaction-history .table thead tr th {
    background-color: #c41e3aa1 !important;
    color: #fff;
}

.transaction-history .table thead tr .amount-th {
    text-align: end;
}

.transaction-history .table tbody .amount-td {
    text-align: end;
    font-weight: 700;
}

.transaction-history .table tbody tr td {
    border: none;
    padding: 10px 30px;
}

.transaction-history .table tbody tr td ul {
    list-style: none;
    padding: 0;

}

.transaction-history .table tbody tr td li {
    vertical-align: middle;
}