.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.navbar-banner {
    background-color: transparent;
}

.navbar .navbar-nav {
    gap: 20px;
}

.navbar-banner .nav-link {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

.navbar-banner .nav-link:hover {
    color: #ffbd39;
}

.navbar-banner .navbar-nav2{
    border: 2px solid #fff;
    border-radius: 10px;
}

.navbar-banner .custom-profile{
    position: relative;
}

.navbar-banner .nav-dropdown{
    position: absolute;
    display: none;
    right: 10px;
    top: 40px;
    z-index: 1;
}

.custom-profile:hover .nav-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #656666;
    outline: 2px solid #fff;
    list-style: none;
    padding: 0;
}

.nav-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-dropdown li:hover{
    color: #ffbd39;
}


/* navbar-other */


.navbar-other {
   display: none;
}

/* .navbar-other .nav-link:hover {
    color: #ffbd39;
}

.navbar-other .navbar-nav2 {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
} */