.login-page {
    background: linear-gradient(rgba(4, 32, 84, 0.773), rgba(4, 32, 84, 0.734)),
        url("../public/background.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -60px;
}

.login-page .headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page .headings h1 {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.login-page .headings p {
    color: #fff;
    font-size: 25px;
    margin: 0;
}

.login-page .headings button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-page .headings button:hover{
    background-color: #000;
    color: #fff;
}